#home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 725px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url("../../assets/images/Ilustra02.svg") no-repeat 65% center;
}

.content-header {
  display: flex;
  align-items: center;
}

.content-header .header-information {
  margin-left: 50px;
}

.content-header .header-information strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.content-header .header-information p {
  font-size: 16px;
  font-weight: 100;
}

.main-wrapper {
  padding: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.main-wrapper h1 {
  width: 250px;
  margin-top: 85px;
  padding-bottom: 25px;
  font-size: 66px;
  font-weight: 600;
  line-height: 85px;
}

.main-wrapper h3 {
  width: 350px;
  padding-top: 25px;

  font-size: 24px;
  font-weight: 300;
}

.right-content {
  position: absolute;
  height: 100%;

  top: 0;
  right: 0;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.right-content .access-restrict {
  width: 222px;
  height: 56px;

  background-color: #12d4e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 20px;

  color: #fff;

  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, box-shadow, color, 0.3s;
}

.right-content .access-restrict:hover {
  background-color: #96feff;
  color: #15c3d6;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.right-content .access-app {
  width: 80px;
  height: 80px;

  background-color: #ffd666;

  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s;
}

.right-content .access-app:hover {
  background-color: #96feff;
}

.right-content .access-app:hover {
}

/* 100;300;600;900 */
